.film-page__seasons-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.film-page__seasons-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.film-page__seasons-scroll {
    margin-top: 12px;
    display: flex;
    gap: 16px;
    overflow: scroll;
}

@media screen and (max-width: 800px) {
    .film-page__seasons-container {
        width: 100%;
    }

    .film-page__seasons-header {
        width: 100%
    }

    .film-page__seasons-scroll {
        align-self: center;
    }

    .menu {
        width: 100%;
    }
}